@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

:root {
    --text-col: #fff;
    --text-col-hov: #cecef0;
}
*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-col);
    font-family: Poppins;
}
body {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.card-main {
    width: 200px;
    height: 300px;
    background: rgba(87, 7, 214, 0.3);
    border-radius: 6px;
    text-align: center;
    overflow-y: scroll;
}
.card-main ul {
    list-style: none;
}
.card-main ul li {
    padding: 8px;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    transition: transform 0.2s;
}
.card-main::-webkit-scrollbar {
    width: 0;
}
.card-main ul li:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}
.card-main ul li a {
    text-decoration: none;
}
.footer {
    position: absolute;
    top: 10%;
}
.footer a {
    text-decoration: none;
    font-weight: 600;
}
